{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block head %}{% endblock %}
{% block content %}
     {% if form.errors %}
        <h4 class="userincore">Your username and password didn't match. Please try again.</h4>
    {% endif %}
     <div class="row">
     <div class="col-sm-5 col-sm-offset-4">
    
    <form method="post" action=".">{% csrf_token %}
       
            {{ form|crispy}}
      
        <input class="btn btn-prymary" type="submit" value="Login" />
        <input type="hidden" name="next" value="/home" />
    
    </form>
    <a href="/register">Register</a>
</div>
</div>
{% endblock %}