<footer class="row-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-1">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <h5>Our Address</h5>
                    <address>
		              Otakaari 1, Espoo <br>
		              FINLAND<br>
		             <i class="fa fa-phone"> </i>: +357 1234 5678<br>
		             <i class="fa fa-fax"> </i> : +357 8765 4321<br>
		              <i class="fa fa-envelope"></i> : <a href="mailto:gamestores@aalto.fi">gamestores@aalto.fi</a>
		           </address>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <h5>Our community<h5>

                         <ul class="list-unstyled" id="social">
                      <li> <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a> google.com/gamehsop</li>
                      <li>  <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a> facebook.com/gamehsop</li>
                      <li><a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a> linkedin.com/gamehsop</li>
                      <li>  <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a> twitter.com/gamehsop</li>
                      <li>  <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a> youtube.com/gamehsop</li>

                      </ul>

                </div>
                <div class="col-xs-12 col-sm-12">

                    <p align=center>© Copyright 2015 WSD gamestores</p><p> all rights reserved.

Third-party trademarks are used solely for distributing the games indexed herein and no license or other affiliation is implied.</p>
                </div>
            </div>
        </div>
    </footer>
