{% extends "base.html"%}




  {% block content%}

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>GameShop.Com</h1>
        <p>
     Delivering passionate and comprehensive entertainment coverage to thousand of users world-wide each year.
    Seen on social media such as Facebook,Tweeter and some  intenational media such as The Guardian, NY Times, The Independent and more.
    40,000+ games are provided in the platform by our amazing game developers  .
   </p>

        <p>
          <a class="btn btn-lg btn-primary" href="" role="button">More about GameShop.com &raquo;</a>
        </p>
      </div>
      <div>
      </div>

      <div class="row row-content">

             <div class="col-xs-12 col-sm-4 ">
                 <div class="media">

                     <div class="media-body">
                 <h2 class="media-heading">Adventure Game </h2>
                 <p>Graphical adventures are, at heart, text adventures on steroids. The degree to which they use graphics varies widely. Back in the 80's, they were little more than text adventures which showed a screen of static graphics. When you picked up an item, the background would be redrawn without the item appearing. The canonical example would be the so-called `Hi-Res Adventures' like The Wizard And The Princess. Later on, the sophisticated graphical adventures had your character roaming around the screen, and you could even use a mouse, but the interface remained purely text. </p>
                 <p><a class="btn btn-primary btn-sm" href="#">More &raquo;</a></p>
             </div>
             </div>
             </div>
             <div class="col-xs-12 col-sm-4 ">
                 <div class="media">

                     <div class="media-body">
                 <h2 class="media-heading">Strategy Game </h2>
                 <p>Strategy games have their roots in old Avalon type board games like Panzer Leader and old war strategy games published by SSI. Generally, they simulate some kind of scenario. The scenario can be peaceful, like running a successful city (SimCity), or not, like illegal drug selling operation (DrugWars) or an all-out war strategy game like Myth II. The types of games usually take a long time to complete and require a lot of brainpower. </p>
                 <p><a class="btn btn-primary btn-sm" href="#">More &raquo;</a></p>
             </div>
             </div>
             </div>
             <div class="col-xs-12 col-sm-4 ">
                 <div class="media">

                     <div class="media-body">
                 <h2 class="media-heading">Card games</h2>
                 <p>Computer based card games simulate a card game like poker or solitaire. The program can simulate your opponent(s).

Logic games usually simulate some well known logic puzzle like Master Mind or the game where you have put sliding numbered tiles in order inside a box.

Computer based board games simulate some kind of board game you'd play on a table top with friends, like monopoly, Mille Bourne, chess or checkers. The program can simulate your opponent. </p>
                 <p><a class="btn btn-primary btn-sm" href="#">More &raquo;</a></p>
             </div>
             </div>
             </div>
         </div>
{% endblock %}
